<div class="container">
    <div class="list-group">
        <a href="mailto:louison.savarese@gmail.com" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="mailbox-flag.svg" class="flex-shirnk-0 me-5" height="36">
            <h3 class="mb-0">Email</h3>
        </a>
        <a href="https://www.linkedin.com/in/louison-savarese/" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="LI-In-Bug.png" class="flex-shirnk-0 me-5" height="36">
            <h3 class="mb-0">LinkedIn</h3>
        </a>
        <a href="https://github.com/protocedvill" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="github-mark.png" class="flex-shirnk-0 me-5" height="36">
            <h3 class="mb-0">Github</h3>
        </a>
        <a href="https://github.iu.edu/lsavares" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="iu-trident.png" class="flex-shirnk-0 me-5" height="36">
            <h3 class="mb-0">Github (IU Only)</h3>
        </a>
    </div>
</div>