<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1 text-center">
            <div class="row">
                <h2 class="display-6 pt-4">About Me</h2>
            </div>
            <div class="row pb-4">
                <div class="col-4">
                    <img src="/lou-profile.jpg" class="img-thumbnail rounded float-end" alt="profile picture">
                </div>
                <div class="col-8 text-start">
                    <p class="lead">Hi, I'm Louison Savarese.</p>
                    <p>I'm Studying Computer Science with a specialization in Cybersecurity at Indiana University. I'm working towards a summer internship in a CS field, and I can't wait to continue my career and make an impact!</p>
                        <p>I'm currently working for the Luddy School of Informatics, Computing, and Engineering as a part of the department of student life. 
                        I work on their study <a href="https://luddy.indiana.edu/student-life/educational-experiences.html">abroad programs</a>, help out 
                        with the the <a href="https://luddy.indiana.edu/student-life/hackathon.html">Luddy Hackathon</a>, and so much more!</p>
                        <p>I'm currently volunteering at <a href="https://serveit.luddy.indiana.edu/">The Laurie Burns McRobbie Serve IT Clinic</a>, where I teach computer literacy skills to youth in my community.</p>
                        <p><strong>I do so much more! Check out my projects page for more information!</strong></p>
                </div>
                
            </div>
        </div>

        <div class="col-lg shadow border m-1 text-center">
            <h2 class="display-6 pt-4">About This Website</h2>   
            <div class="row pt-4">
                <div class="col-md-9 mx-auto">
                    <ul class="text-start">
                        <li>Created in the <a href="https://angular.dev/overview">Angular Web Framework</a>.
                            <ul>
                                <li>Styling partially done with <a href="https://getbootstrap.com/">Bootstrap</a>.</li>
                            </ul>
                        </li>
                        <li>Hosted on an <a href="https://docs.oracle.com/en-us/iaas/Content/FreeTier/freetier_topic-Always_Free_Resources.htm">Oracle Cloud ARM Instance</a>.</li>
                        <li>SSL Encryption Certificate provided by <a href="https://letsencrypt.org/">Let's Encrypt</a>.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>